<div class="w-1/4 bg-gray-800 text-white p-6 space-y-4">
    <h2 class="text-2xl font-bold mb-4">Administration</h2>
    <ul class="space-y-2">
        <li><a href="{{ path('app_admin_user_index') }}" class="admin-link block p-2 bg-gray-700 hover:bg-gray-600 rounded">Utilisateurs</a></li>
        {# <li><a href="" class="admin-link block p-2 bg-gray-700 hover:bg-gray-600 rounded">Événements</a></li> #}
        {# <li><a href="" class="admin-link block p-2 bg-gray-700 hover:bg-gray-600 rounded">Lieux</a></li> #}
        {# <li><a href="" class="admin-link block p-2 bg-gray-700 hover:bg-gray-600 rounded">Tags</a></li> #}
        <li><a href="{{ path('app_admin_comment_index') }}" class="admin-link block p-2 bg-gray-700 hover:bg-gray-600 rounded">Commentaires</a></li>
    </ul>
</div>
