{% for label, messages in app.flashes %}
	<div class="p-4 mb-4 rounded
			            {% if label == 'success' %}bg-green-600 text-white{% endif %}
			            {% if label == 'error' %}bg-red-600 text-white{% endif %}
			            {% if label == 'warning' %}bg-yellow-500 text-black{% endif %}
			            {% if label == 'info' %}bg-blue-500 text-white{% endif %}
			        ">
		{% for message in messages %}
			{{ message }}
		{% endfor %}
	</div>
{% endfor %}
