<ul class="flex space-x-6 text-gray-300">
  <li><a href="#" class="hover:text-red-600 transition">Événements</a></li>

  {% if app.user %}
    {% if 'ROLE_ADMIN' in app.user.roles %}
      <li><a href="{{ path('admin_dashboard') }}" class="hover:text-red-600 transition">Admin</a></li>
    {% endif %}

    <li><a href="{{ path('profil') }}" class="hover:text-red-600 transition">Profil</a></li>
    <li>
      <a href="{{ path('app_logout') }}" class="hover:text-red-600 transition">
        Déconnexion
      </a>
    </li>
  {% else %}
    <li><a href="{{ path('app_login') }}" class="hover:text-red-600 transition">S'inscrire/Se connecter</a></li>
  {% endif %}
</ul>
